/* *Imports* */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


/* *Root variables* */
:root {
  /* Constant */
  font-size: 16px;
  font-family: 'Archivo', sans-serif;

  --header-height: 3.5rem;
  

  /* Colors */
  --primary-clr: hsl(79, 72%, 55%);
  --primary-clr-light: hsl(79, 97%, 77%);
  --primary-clr-alt: hsl(79, 67%, 52%);
  --primary-clr-dark: hsl(79, 63%, 50%);
  --primary-clr-gray: hsl(79, 6%, 64%);
  --title-clr: hsl(180, 4%, 98%);
  --title-clr-black: hsl(180, 4%, 12%);
  --text-clr: hsl(180, 4%, 72%);
  --text-clr-light: hsl(180, 4%, 65%);
  --body-clr: hsl(180, 12%, 8%);

  /* Font */
  --primary-ff: 'Red Hat Display', sans-serif;
  --secondary-ff: 'Kaushan Script', cursive;
  --biggest-fs: 3rem;
  --bigger-fs: 2.5rem;
  --big-fs: 2rem;
  --h1-fs: 1.5rem;
  --h2-fs: 1.25rem;
  --h3-fs: 1rem;

  --fw-bold: 700;
  --fw-black: 900;

  /*Margins & Paddings*/

  /* Borders */

  /* Z index */
  --z-tooltip: 10;
  --z-fixed: 100;

}

/* *Andy Bell's basic reset* */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core root defaults */
html:focus:focus-within{
  scroll-behavior: smooth;
}

html,
body{
  height: 100%;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Remove a elements text decorations */
a {
  text-decoration: none;
  color: var(--title-clr);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* *Compound consistent styles* */

body {
  background-color: var(--body-clr);
  color: var(--text-clr);
  display: flex;
  flex-flow: column;
  align-items: center;
}

button {
  display: flex;
  background: transparent;
  color: var(--text-clr);
  border: none;
  outline: none;
  cursor: pointer;
}

/* *Utility classes* */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  margin: 0 auto;
  padding: 0 2em;
  width: 100%;
  max-width: 1280px;
}

.section {
  display: flex;
  flex-flow: column;
  margin: 7em 0 0;
}

.section-data {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  text-align: center;
}

.section-titles {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.section-title, 
.section-title-stroke {
  font-size: var(--biggest-fs);
  font-weight: var(--fw-bold);
  letter-spacing: 0.125rem;
  color: var(--title-clr);
}

.section-title-stroke {
  -webkit-text-stroke: 1px var(--title-clr);
  color: transparent;
}

.section-subtitle {
  font-size: var(--bigger-fs);
  font-family: var(--secondary-ff);
  color: var(--primary-clr);
}

.grid {
  display: grid;
  gap: 1em;
}

.button {
  width: fit-content;
  padding: 1em 2em;
  background-color: var(--primary-clr);
  gap:  0.5em;
  text-align: center;
  align-items: center;
  color: black;
  font-weight: var(--fw-bold);
  transition: background-color .3s;
}

.button:hover {
  background-color: var(--primary-clr-alt);
}

.button i {
  font-size: 1.25rem;
  transition: transform 0.3s;
}

.button:hover i {
  transform: translateX(0.25rem);
}

.active-nav-link {
  color: var(--primary-clr);
}

/* *Styles* */
/* Header */
.header {
  padding: 1em 2em;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--body-clr);
  color: var(--text-clr);
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 0px hsla(240, 1%, 34%, 0.2);
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  font-family: var(--primary-ff);
  font-weight: var(--fw-black);
  color: var(--title-clr);
  text-decoration: none;
}

.logo img {
  width: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.nav-list {
  display: flex;
  gap: 2em;
}

.nav-link {
  padding: 0.5em 1em;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--title-clr);
  font-family: var(--primary-ff);
  font-weight: var(--fw-bold);
}

.nav-link:hover a {
  color: var(--text-clr-light);
}

.nav-link a {
  text-decoration: none;
}

.nav-toggle-icon,
.nav-close-icon {
  display: none;
  font-size: 1.5rem;
  color: var(--title-clr);
}

.register-button {
  background-color: white;
  font-family: var(--primary-ff);
}

/* Main */
.main {
  display: flex;
  flex-flow: column;
}

/* Home Section */
.home {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.home-data {
  display: flex;
  flex-flow: column;
}

.home-subtitle {
  padding: 0.5em 0;
  font-size: 3.125rem;
  font-weight: var(--fw-bold);
  -webkit-text-stroke: 1px var(--title-clr);
  color: transparent;
}

.home-title {
  font-size: 5.25rem;
  font-weight: var(--fw-bold);
  color: var(--title-clr);
}

.home-subtitle,
.home-title {
  letter-spacing: 0.125rem;
}

.home-description {
  width: 500px;
  margin-top: 1em;
  margin-bottom: 2em;
}

.home-img {
  margin: 0 auto;
  width: 550px;
  display: block;
  position: relative;
  z-index: 1;
}

.home-triangle {
  position: absolute;
  height: 475px;
  display: block;
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.home-triangle-1 {
  width: 145px;
  background-color: var(--primary-clr);
}

.home-triangle-2 {
  width: 345px;
  background-color: var(--primary-clr-alt);
}

.home-triangle-3 {
  width: 545px;
  background-color: var(--primary-clr-dark);
}

/* Company Logos Section */
.companies-logos {
  margin-top: 0;
}

.company-logos-container {
  padding: 0.5em 0;
  background-color: var(--title-clr-black);
  grid-template-columns: repeat(4 , 1fr);
  place-items: center;
}

/* Program Section */
.programs-container {
  display: flex;
  gap: 2em;
}

.program-card {
  position: relative;
  padding: 1em 2em;
  background-color:var(--title-clr-black);
  display: grid;
  row-gap: 1em;
  transition: background-color .4s;
}

.program-card:hover {
  background-color: var(--primary-clr);
  color: var(--title-clr-black);
}

.program-img-container {
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 64px;
  height: 64px;
  background-color: var(--primary-clr-gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color .4s;
}

.program-img {
  width: 50px;
}

.program-card:hover .program-img-container {
  background-color: var(--primary-clr-alt);
}
.program-title {
  font-weight: var(--fw-bold);
  color: var(--title-clr);
}

.program-title,
.program-description {
  transition: color .4s;
}

.program-card:hover .program-title,
.program-card:hover .program-description {
  color: var(--title-clr-black);
}

.program-button {
  padding: 0 0.5em;
  justify-self: flex-end;
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  color: var(--title-clr-black);
  transition: transform 0.3s;
}

.program-button i {
  display: block;
}

.program-card:hover .program-button{
  transform: translateX(0.25em);
}

/* Choose Us Section */
.choose {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.choose-content {
  order: 1;
}

.choose .section-titles {
  justify-content: initial;
}

.choose .section-data {
  text-align: initial;
}

.choose-description {
  margin-bottom: 2em;
}

.choose-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  row-gap: 1em;
}

.choose-group {
  text-align: center;
}

.choose-number {
  font-family: var(--secondary-ff);
  font-size: var(--big-fs);
  color: var(--title-clr);
}

.choose-img {
  width: 350px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.choose-triangle {
  position: absolute;
  height: 475px;
  display: block;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.choose-triangle-1 {
  width: 545px;
  background-color: var(--primary-clr-dark);
}

.choose-triangle-2 {
  width: 345px;
  background-color: var(--primary-clr-alt);
}

.choose-triangle-3 {
  width: 145px;
  background-color: var(--primary-clr);
}

/* Pricing Section */
.pricing-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.pricing-card {
  position: relative;
  padding: 1em 2em;
  background-color:var(--title-clr-black);
  display: grid;
  row-gap: 1em;
  transition: background-color .4s;
}

.pricing-card:hover {
  background-color: var(--primary-clr);
  color: var(--title-clr-black);
}

.pricing-header {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.pricing-img-container {
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 64px;
  height: 64px;
  background-color: var(--primary-clr-gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color .4s;
}

.pricing-img {
  width: 50px;
}

.pricing-card:hover .pricing-img-container {
  background-color: var(--primary-clr-alt);
}
.pricing-title {
  font-weight: var(--fw-bold);
}

.pricing-number {
  font-family: var(--primary-ff);
  font-size: var(--big-fs);
  font-weight: var(--fw-bold);
  color: var(--title-clr);
}

.pricing-title,
.pricing-number {
  transition: color .4s;
}

.pricing-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  transition: color .4s;
}

.pricing-item {
  display: flex;
  column-gap: 0.5em;
  opacity: .3;
}

.pricing-card:hover .pricing-title,
.pricing-card:hover .pricing-number,
.pricing-card:hover .pricing-list {
  color: var(--title-clr-black);
}

.pricing-item i {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  color: var(--primary-clr);
  transition: color .4s;
}

.pricing-card:hover .pricing-item i {
  color: var(--title-clr);
}

.available-feature {
  opacity: 1;
}

.pricing .button {
  background-color: white;
}

/* BMI Calculator Section */
.calculator {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  place-items: center;
}

.calculator-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.calculator-content .section-titles {
  justify-content: initial;
}

.calculator-description {
  margin-bottom: 1em;
}

.calculator-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.calculator-group {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-clr-dark);
}

.calculator-input {
  padding: 1em;
  width: 100%;
  background-color: transparent;
  color: var(--text-clr);
  border: none;
  outline: none;
}

.calculator-input::-webkit-inner-spin-button,
.calculator-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.calculator-label {
  position: absolute;
  right: 1em;
}

.calculator-button {
  margin-top: 1em;
  width: 100%;
  justify-content: center;
  grid-column: 1 / 3;
}

.calculator-img {
  width: 400px;
}

.calculator-result {
  text-align: center;
}

/* Footer Section */
.footer {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

.footer-logo {
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-weight: var(--fw-black);
}

.footer-logo img {
  width: 32px;
}

.footer-logo,
.footer-description {
  margin-bottom: 1em;
  color: var(--title-clr);
}


.newsletter-form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.newsletter-input {
  padding: 1em;
  background: transparent;
  color: var(--text-clr);
  border: 1px solid var(--primary-clr-light);
  outline: none;
}

.newsletter-button {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.newsletter-massage {
  margin: 1em;
  text-align: center;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 2em;
}

.footer-title {
  margin-bottom: 1em;
  font-size: var(--h3-fs);
  font-weight: var(--fw-bold);
  color: var(--title-clr);
}

.footer-links {
  display: grid;
  row-gap: 0.5em;
}

.footer-link {
  color: var(--text-clr);
  transition: color .4s;
}

.footer-link:hover {
  color: var(--primary-clr);
}

.footer-group {
  margin: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 1em;
}

.footer-social {
  display: flex;
  column-gap: 1em;
  order: 1;
}

.footer-social-link {
  padding: 0.25em;
  display: inline-flex;
  font-size: 1.25rem;
  background-color: var(--primary-clr);
  color: var(--title-clr-black);
  border-radius: 50%;
  transition: background .4s;
}

.footer-social-link:hover {
  background-color: var(--primary-clr-dark);
}

.footer-copy {
  font: 1rem;
  color: var(--text-clr-light);
}

/* Scroll up */
.scroll-up {
  padding: 0.5em;
  position: fixed;
  right: 1em;
  bottom: -50em;
  display: inline-flex;
  font-size: 1.25rem;
  background-color: var(--primary-clr);
  color: var(--body-clr);
  border-radius: 0.35em;
  box-shadow: 0 4px 16px hsla(22, 100%, 8%, 0.2);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.scroll-up:hover {
  transform: translateY(-0.5em);
}

.show-scroll-up {
  bottom: 3em;
}

/* *General queries* */
@media screen and (max-width: 1218px) {
  /* Home Section */
  .home-title {
    font-size: 4.5rem;
  }

  .home-subtitle {
    font-size: 2.75rem;
  }

  .home-description {
    width: 425px;
  }

  .home-triangle {
    height: 450px;
  }

}

@media screen and (max-width: 1064px) {
  /* Utility Classes */
  .section-title,
   .section-title-stroke {
     font-size: 2.125rem;
   }
 
   .section-subtitle {
     font-size: 2.125rem;
   }

  /* Home Section */
  .home-title {
    font-size: 4rem;
  }

  .home-subtitle {
    font-size: 2.25rem;
  }

  .home-description {
    width: 425px;
  }

  .home-triangle {
    height: 425px;
  }

  /* BMI Calculator Section */
  .calculator-img {
    width: 200px;
  }

}

/* Small Devices */
@media screen and (max-width: 986px) {
  /* Nav Bar */
  .nav-toggle-icon.show,
  .nav-close-icon.show {
    display: block;
  }

  .nav-list {
    padding: 5em 0 0 3em;
    height: 100%;
    width: 50%;
    padding-block: 2em;
    position: fixed;
    top: 3.6em;
    right: -100%;
    display: flex;
    flex-flow: column;
    gap: 1em;
    background-color:hsla(180, 12%, 8%, 0.8);
    backdrop-filter: blur(1em);
    text-align: center;
    border-left: 2px solid var(--primary-clr-gray);
    transition: right 0.4s ease-in-out;
  }

  .nav-list[data-menu-visible] {
    right: 0;
  }

  /* Home Section */
  .home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    row-gap: 2em;
  }

  .home-description {
    width: initial;
  }

  /* Program Section */
  .program-card {
    padding: .75em 1.5em;
  }

  /* Choose Us Section */
  .choose {
    display: flex;
    flex-flow: column;
    justify-content: center;
    row-gap: 2em;
  }

  .choose .section-titles {
    justify-content: center;
  }

  .choose .section-subtitle,
  .choose-description {
    text-align: center;
  }

  .choose-content {
    order: initial;
    z-index: 1;
  }

  .choose-data {
    justify-items: initial;
  }

  .choose-triangle {
    height: 450px;
  }

}

@media screen and (max-width: 768px) {
  /* Utility Classes */
  .section-title,
   .section-title-stroke {
     font-size: 1.5rem;
   }
 
   .section-subtitle {
     font-size: 1.5rem;
   }

  /* Home Section */
  .home-title {
    font-size: 3.25rem;
  }

  .home-subtitle {
    font-size: 2rem;
  }

  .home-description {
    width: initial;
  }
  
  .home-img {
    width: 375px;
  }
  
  .home-triangle {
    height: 325px;
  }
  
  .home-triangle-1 {
    width: 125px;
  }
  
  .home-triangle-2 {
    width: 225px;
  }
  
  .home-triangle-3 {
    width: 325px;
  }

  /* Company Logos Section */
  .company-logos-container {
    padding: 0.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* Program Section */
  .programs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
  }

  /* Pricing Section */
  .pricing-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  /* BMI Calculator Section */
  .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
  }

  .calculator-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .calculator-description {
    text-align: center;
  }

  .calculator-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Footer Section */

  .footer-logo {
    justify-content: center;
  }

  .footer-description {
    text-align: center;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer-group {
    flex-direction: column;
  }

  .footer-social {
    order: initial;
  }

}

@media screen and (max-width: 546px) {
  /* Pricing Section */
  .pricing-container {
    grid-template-columns: 285px;
  }
  
}

@media screen and (max-width: 446px) {
  /* Utility Classes */
  .section-title,
   .section-title-stroke {
     font-size: 1.125rem;
  }
 
   .section-subtitle {
     font-size: 1.125rem;
  }

   /* Nav Bar */
  .nav-list {
    padding: 5em 0 0 3em;
    height: 100%;
    width: 80%;
    padding-block: 2em;
    position: fixed;
    top: 5em;
    right: -100%;
    display: flex;
    flex-flow: column;
    gap: 1em;
    background-color: var(--body-clr);
    text-align: center;
    border-left: 2px solid var(--primary-clr-gray);
    transition: right 0.4s ease-in-out;
  }

  /* Home */
  .home-title {
    font-size: 2.5rem;
  }

  .home-subtitle {
    font-size: 1.25rem;
  }
  
  .home-triangle {
    height: 275px;
  }

  .home-triangle-1 {
    width: 75px;
  }
  
  .home-triangle-2 {
    width: 175px;
  }
  
  .home-triangle-3 {
    width: 275px;
  }

   /* Program Section */
   .programs-container {
     grid-template-columns: 300px;
     justify-content: center;
   }

   /* Footer Section */
   .footer-content {
    grid-template-columns: repeat(2, max-content);
   }

   .footer-links-container {
    text-align: center;
   }
}