/* *Imports* */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


/* *Root variables* */
:root {
  /* Constant */
  font-size: 16px;
  font-family: 'Archivo', sans-serif;

  --header-height: 3.5rem;
  

  /* Colors */
  --primary-clr: hsl(79, 72%, 55%);
  --primary-clr-light: hsl(79, 97%, 77%);
  --primary-clr-alt: hsl(79, 67%, 52%);
  --primary-clr-dark: hsl(79, 63%, 50%);
  --primary-clr-gray: hsl(79, 6%, 64%);
  --title-clr: hsl(180, 4%, 98%);
  --title-clr-black: hsl(180, 4%, 12%);
  --text-clr: hsl(180, 4%, 72%);
  --text-clr-light: hsl(180, 4%, 65%);
  --body-clr: hsl(180, 12%, 8%);

  /* Font */
  --primary-ff: 'Red Hat Display', sans-serif;
  --secondary-ff: 'Kaushan Script', cursive;
  --biggest-fs: 2rem;
  --bigger-fs: 1.5rem;
  --big-fs: 1.25rem;
  --h1-fs: 1.5rem;
  --h2-fs: 1.25rem;
  --h3-fs: 1rem;

  --fw-bold: 700;
  --fw-black: 900;

  /*Margins & Paddings*/

  /* Borders */

  /* Z index */
  --z-tooltip: 10;
  --z-fixed: 100;

}

/* *Andy Bell's basic reset* */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core root defaults */
html:focus:focus-within{
  scroll-behavior: smooth;
}

html,
body{
  height: 100%;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* *Compound consistent styles* */

body {
  background-color: var(--body-clr);
  color: var(--text-clr);
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  background: transparent;
  color: var(--text-clr);
  border: none;
  outline: none;
  cursor: pointer;
}

/* *Utility classes* */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1280px;
}

.active-nav-link a {
  color: var(--primary-clr);
}

/* *Styles* */

.header {
  padding: 2em 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--body-clr);
  color: var(--text-clr);
  transition: box-shadow 0.4s;
  box-shadow: 0 4px 4px hsla(22, 100%, 8%, 0.2);
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  font-family: var(--primary-ff);
  font-weight: var(--fw-black);
  color: var(--title-clr);
  text-decoration: none;
}

.logo img {
  width: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.nav-list {
  display: flex;
  gap: 2em;
}

.nav-link {
  padding: 0.5em 1em;
  position: relative;
  color: var(--title-clr);
  font-family: var(--primary-ff);
  font-weight: var(--fw-bold);
}

.nav-link:hover {
  color: var(--text-clr-light);
}

.nav-link a {
  text-decoration: none;
}

.nav-toggle-icon,
.nav-close-icon {
  display: none;
  font-size: 1.5rem;
  color: var(--title-clr);
}

.register-button {
  padding: 1em 2em;
  background-color: white;
  color: black;
  font-weight: var(--fw-bold);
}

/* *General queries* */